
.pages{
    background-color: #3C3B3B;
    position: absolute;
    width: 100%;
    height: 100%;
}

h1{
   color: black;
}

#titleP{
    background-color: rgb(94, 134, 121);
    padding: 20px;
    font-weight: bold;
    color: bisque;
    font-family: Helvetica;
}

.containerss{
    padding: 50px;
}

.navbss{
    background-color:#ffeded ;
}

  
  .fondo{
    background-color: #7c1616;

  }
  .testimonio {
    background-color: #e0e0d1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    max-width: 600px;
    display: flex;
  }
  
  .imagentestimonio {
    margin-right: 20px;
    max-width: 100px; /* Ajusta según tus necesidades */
  }
  
  .testimoniotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .nombre {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .informacion {
    margin: 0;
  }
.fondo{
  background-color: #000000; 
}
.informacion-adicional {
  background-color: #222; /* Color de fondo para la sección de información adicional */
  color: white; /* Color del texto */
  padding: 20px;
  text-align: center;
}

.redes-sociales a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.redes-sociales a:hover {
  text-decoration: underline;
}

.contacto p {
  margin: 5px 0;
}
